.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: 20rem;
    padding: 3rem 0;

    transition: ease-in-out 0.15s;
}

.review:hover {
    transform: scale(1.02);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.review__quote {
    width: 80%;
}

.quote__img {
    filter: saturate(1);
}

.quote--img1 {
    align-self: flex-start;
    margin-left: 2rem;
}

.quote--img2 {
    align-self: flex-end;
    margin-right: 2rem;
}

.review__pfp {
    width: 60%;
    max-width: 60%;
    height: auto;
    border-radius: 50%;
}

.review__stars {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}