#about__circle1 {
    position: absolute;
    right: 10%;
}

#about__circle2 {
    position: absolute;
    left: 45%;
    margin-top: -10rem;
    animation-delay: 0.3s;
}

.about__section {
    min-height: 90vh;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-top: 10rem;
    font-family: 'Krub';
}

.about__text {
    flex: 1.5;
}

.about__text--heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.about__text--info {
    margin-top: 1.5rem;
    width: 70%;
}

.about__text--points {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem 12.5rem;

    margin-top: 5rem;
    width: 80%;
}

.about__text--point {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.about__btn {
    margin-top: 5rem;
}

.about__gfx {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.7));
}

.about--circle {
    position: absolute;
    filter: saturate(1);
    height: 60%;
    width: auto;
}

.about--img {
    max-width: 100%;
    height: auto;
    position: relative;
}

@media (max-width: 640px) {
    .about {
        flex-direction: column;
    }

    .about__text--info {
        width: 100%;
    }

    .about__text--points {
        gap: 3rem 3rem;
    
        margin-top: 5rem;
        width: 100%;
    }

    .about__gfx {
        width: 70%;
        margin-top: 5rem;
    }

    #about__circle1, #about__circle2 {
        display: none;
    }
}