@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@300;400;500;600;700&display=swap');

:root {
  /* Colors */
  --black: #101111;
  --white: #ffffff;
  --purple: #b860fa;
  --light-purple: #b885fa;
  --dark-purple: #6b4fd1;
  --gray: #9c9d9d;
  --dark-gray: #242727;
  --dark: #000000;
  --font-family: 'Oswald', 'Krub', sans-serif;

  /* Text sizes */
  --heading-medium: 1.7rem;
  --heading-big: 5rem;
  --heading-large: 7rem;
  --par-medium: 1.2rem;
  --par-big: 2rem;
  --par-large: 5rem;
}

@keyframes rotate1 {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(5deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

@keyframes rotate2 {
  0% {
      transform: rotate(-55deg);
  }
  50% {
      transform: rotate(-50deg);
  }
  100% {
      transform: rotate(-55deg);
  }
}

@keyframes float {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-20px);
  }
  100% {
      transform: translateY(0px);
  }
}

* {
  color: var(--white);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

a {
  cursor: pointer;
}

body {
  background: var(--black);
  font-family: var(--font-family);
}

img {
  filter: saturate(0);
}

.heading-medium {
  font-weight: 600;
  font-size: 1.7rem;
}

.heading-big {
  font-size: 5rem;
  font-weight: 700;
}

.heading-large {
  font-size: 7rem;
  font-weight: 700;
}

.par-medium {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.par-medium-bold {
  font-weight: 600;
  line-height: 2rem;
}

.par-big {
  font-size: 2rem;
}

.par-large {
  font-size: 5rem;
}

.par-big-purple {
  color: var(--purple);
  font-size: 5rem;
}

.dot {
  color: var(--purple);
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

@media (max-width: 475px) {
  .container {
    max-width: 99%;
  }

  .heading-large {
    font-size: 4rem;
  }

  .heading-big {
    font-size: 3rem;
    font-weight: 700;
  }
  
  .par-big-purple {
    color: var(--purple);
    font-size: 3rem;
  }
  
  .par-medium {
    font-weight: 600;
    line-height: 2rem;
  }
}